<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangxiaohan.dao.AdminDao">
    <select id="findBySearch" resultType="com.wangxiaohan.entity.Admin">
        select * from admin
        <where>
            <if test="params !=null and params.name!=null and params.name!=''">
                and name like concat('%',#{params.name},'%')
            </if>
            <if test="params !=null and params.sex!=null and params.sex!=''">
            and sex like concat('%',#{params.sex},'%')
            </if>
            <if test="params !=null and params.age!=null and params.age!=''">
            and age like concat('%',#{params.age},'%')
            </if>
            <if test="params !=null and params.school!=null and params.school!=''">
                and school like concat('%',#{params.school},'%')
            </if>
        </where>
    </select>


</mapper>