<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangxiaohan.dao.ConcertDao">

    <select id="findBySearch" resultType="com.wangxiaohan.entity.Concert">
        select * from concert
        <where>
            <if test="params != null and params.CID != null and params.CID != ''">
                and CID like concat('%',#{params.CID},'%')
            </if>
            <if test="params != null and params.cplace != null and params.cplace != ''">
                and cplace like concat('%',#{params.cplace},'%')
            </if>
            <if test="params != null and params.ctime != null and params.ctime != ''">
                and ctime like concat('%',#{params.ctime},'%')
            </if>
        </where>
    </select>

</mapper>
