<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangxiaohan.dao.SongDao">
    <select id="findBySearch" resultType="com.wangxiaohan.entity.Song">
        select * from song
        <where>
            <if test="params !=null and params.sname!=null and params.sname!=''">
                and sname like concat('%',#{params.sname},'%')
            </if>
            <if test="params !=null and params.swriter!=null and params.swriter!=''">
                and swriter like concat('%',#{params.swriter},'%')
            </if>
            <if test="params !=null and params.salbum!=null and params.salbum!=''">
                and salbum like concat('%',#{params.salbum},'%')
            </if>
        </where>
    </select>
</mapper>
